     <div style="position: relative;">
      <img src="/images/main.jpg" class="img" alt="Κουφονήσια">
      <div class = "title">
        <p>ΚΟΥΦΟΝΗΣΙΑ</p>
      </div>
    </div>

    <!-- CARDS -->
    <div class="container">
      <div class="row row-cols-xl-5 row-cols-md-3 row-cols-1">
      <div class="col" style="display:flex; justify-content:center">
        <a class="card" href="/page1?category=beaches" style="width:200px">
          <img class="card-img-top" src="/images/beaches.jpg" alt="Παραλία σε σπηλιά">
          <div class="card-footer d-flex justify-content-center">Παραλίες</div>
        </a>
      </div>
      <div class="col" style="display:flex; justify-content:center">
        <a class="card" href="/page1?category=sights" style="width:200px">
          <img class="card-img-top" src="/images/sights.jpg" alt="Ανεμόμυλος">
          <div class="card-footer d-flex justify-content-center">Αξιοθέατα</div>
        </a>
      </div>
      <div class="col" style="display:flex; justify-content:center">
        <a class="card" href="/page1?category=accomm" style="width:200px">
          <img class="card-img-top" src="/images/acc.jpg" alt="Δωμάτια">
          <div class="card-footer d-flex justify-content-center">Διαμονή</div>
        </a>
      </div>
      <div class="col" style="display:flex; justify-content:center">
        <a class="card" href="/page1?category=transport" style="width:200px">
          <img class="card-img-top" src="/images/transport.jpg" alt="Ποδήλατα στην άμμο">
          <div class="card-footer d-flex justify-content-center">Μετακινήσεις</div>
        </a>
      </div>
      <div class="col" style="display:flex; justify-content:center">
        <a class="card" href="/page1?category=food" style="width:200px">
          <img class="card-img-top" src="/images/food.jpg" alt="Τραπέζι εστιατορίου">
          <div class="card-footer d-flex justify-content-center">Φαγητό</div>
        </a>
      </div>
      </div>
    </div>
  
  <!-- Q&A -->
  <div class="container">
    <div class="row">
      <div class="col-3 fw-semibold">Γιατί να επισκεφθείτε τα Κουφονήσια;</div>
      <div class="col-9">Το πιο δυνατό σημείο των Κουφονησίων είναι σίγουρα οι ονειρεμένες θάλασσες. Και τα δύο διαθέτουν παραλίες με εξωτική ομορφιά και πεντακάθαρα κρυστάλλινα νερά. Το μικρό μέγεθος των νησιών κάνει τις μετακινήσεις εξαιρετικά εύκολες, καθώς μπορείς να τα γυρίσεις και με τα πόδια. Το φαγητό στα Κουφονήσια είναι πεντανόστιμο, με βασικό συστατικό το φρέσκο ψάρι και τα θαλασσινά, που υπάρχουν άφθονα στις Μικρές Κυκλάδες. Η νυχτερινή ζωή επικεντρώνεται σε μικρά μπαρ πάνω στη θάλασσα, με δυνατά κοκτέιλ και καλή μουσική.
      </div>
    </div>
    <div class="row">
      <div class="col-3 fw-semibold">Πότε να πάτε;</div>
      <div class="col-9">Τα Κουφονήσια είναι κυρίως καλοκαιρινός προορισμός. Αν αναζητάτε την ηρεμία και τη χαλάρωση επιλέξτε τον Ιούνιο, τις αρχές του Ιουλίου ή τον Σεπτέμβριο. Αν πάλι θέλετε την εμπειρία ενός κοσμοπολίτικου νησιού, επισκεφθείτε το είτε στα τέλη του Ιουλίου είτε τον Αύγουστο.
      </div>
    </div>
    <div class="row">
      <div class="col-3 fw-semibold">Πόσες μέρες να μείνετε;</div>
      <div class="col-9">Για να έχετε χρόνο να εξερευνήσετε το νησί και να απολαύσετε όσα έχει να προσφέρει, θα χρειαστείτε τουλάχιστον 4-5 ημέρες. </div>
    </div>
    <div class="row">
      <div class="col-3 fw-semibold">Πώς θα πάτε;</div>
      <div class="col-9">Το πιο σύντομο ταξίδι με πλοίο προς τα Κουφονήσια απέχει περίπου 35 λεπτά από το κοντινό νησί Σχοινούσα και 1 ώρα και 45 λεπτά από το νησί της Νάξου. Εάν ξεκινήσετε από το λιμάνι του Πειραιά στην Αθήνα, το ταξίδι με πλοίο διαρκεί περίπου 8 ώρες. Αν και τα Κουφονήσια απέχουν περισσότερο από τον Πειραιά σε σχέση με άλλους προορισμούς, η φυσική ομορφιά τους αξίζει τον κόπο. Εναλλακτικά, μπορείτε να ταξιδέψετε στα Κουφονήσια από άλλα ελληνικά νησιά.
      </div>
    </div>
  </div>

  <!-- WEATHER -->
  <a class="weatherwidget-io" href="https://forecast7.com/el/36d9325d60/koufonisia/" data-label_1="ΚΑΙΡΟΣ" data-label_2="Κουφονήσια" data-font="Arial" data-icons="Climacons Animated" data-mode="Forecast" data-days="5" data-theme="retro-sky" data-basecolor="hsl(210, 81%, 79%);" data-shadow="rgba(55, 55, 55, 0.7)" >
    ΚΑΙΡΟΣ Κουφονήσια</a>


  <!-- WEATHER -->
   <script> 
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
  </script>


  


