     <!-- PAGE TITLE -->
    <div class="container">
        <p class={{title}}></p>
    </div>

    <!-- CARDS -->
    <div class="container">
        <div class="row row-cols-md-3 row-cols-sm-2 row-cols-1">
          <!-- cards made in js   -->
        </div>
    </div>

    