/* ------------------NAVIGATION BAR----------------*/
.navbar{
    background-color: #1F4591;
    color: #1F4591;
}
.navbar-nav{
    font-size: large;
}

.dropdown-menu{
    background-color: #BFD7ED;
}
.dropdown-item{
    color:#1F4591;
}
.dropdown-item:hover{
    color:#1F4591;
}
.dropdown-menu .active{
    background-color: white;
    color:#1F4591;
}
.dropdown-menu .onClick{
    background-color: white;
    color:#1F4591;
}
/* dropdown on hover */
.dropdown:hover .dropdown-menu{
    display:block;
}


/*---------------MODALS---------------------------*/
.modal-content{
    color: #1F4591;
}
.modal .btn{
    background-color:#BFD7ED;
    color:#1F4591;
}

.title{
    color:#1F4591;
    font-size: 30px;
    margin-top: 20px;
}

.modal-body form{
    border: none;
}