body{
    background-color: #BFD7ED;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.bold{
    font-weight: bold;
}

.adminInputDisabled{
    background-color: #BFD7ED;
}

.image{
    /* set radius */
    border-radius: 3%;
}

.review{
    /* sand color */
    background-color: #e3e3f4;
    border-radius: 5%;
}

.adminInput{
    /* sand color */
    background-color: #BFD7ED !important;
    /* border color */
    border-color: #BFD7ED !important;
    /* font size */
    font-size: 1.3em;
}
