body{
    background-color: #d7eaff;
}

.map-container{
    overflow:hidden;
    padding-bottom:36.25%;
    position:relative;
    height:200px;
    width: 100%;
    border-style: solid ;
    border-color: hsl(210, 81%, 79%);
}

.map-container iframe{
  top:25px;
  height:90%;
  width:95%;
  position:absolute;
}

.bold{
    font-weight: bold;
}

.adminInputDisabled{
    background-color: #d7eaff;
}

.image{
    /* set radius */
    border-radius: 3%;
}

.review{
    /* sand color */
    background-color: #d7eaff;
    border-radius: 5%;
}

.adminInput{
    background-color: #d7eaff !important;
    font-size: 1.3em;
    border-width: 2px;
    color:#1F4591
}

.editMode{
    border-color: #386ad0 !important;
}

.nonEditMode{
    border-color: #d7eaff;
}

#title{
    background-color: #d7eaff;
    /* font */
    font-weight: bold;
    color:#1F4591;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid hsl(210, 81%, 79%);
}

#reviewContainer{
    /* border*/
    border-color: hsl(210, 81%, 79%);
    border-style: solid;
    border-width: 2px;
    max-height:400px;

    color:#1F4591
}

.form-control{
    color:#1F4591;
}

form{
    /* border-color*/
    border-left: 2px solid hsl(210, 81%, 79%);
    border-right: 2px solid hsl(210, 81%, 79%);
}

h4{
    color:#1F4591;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 30px;
}


/* Reviews */
#addReview{
    background-color: #1F4591;
    color:#d7eaff;
    font-weight: bold;
}

#addReview:hover{
    background-color: #d7eaff;
    color:#1F4591;
    font-weight: bold;
}

.h-100{
    background-color: hsl(210, 81%, 79%);
}

.star {
    font-size: 2em;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    fill: #ccc;
    transition: fill 0.2s;
    margin: 5px;
}

.star_rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* .star:hover {
    cursor: pointer;
} */
  
.star.selected {
    color : #1F4591;
}
