body{
    background-color: #d7eaff;
}

.map-container{
    overflow:hidden;
    padding-bottom:36.25%;
    position:relative;
    height:200px;
    width: 100%;
    border-style: solid ;
    border-color: hsl(210, 81%, 79%);
}

.map-container iframe{
  top:25px;
  height:90%;
  width:95%;
  position:absolute;
}

.bold{
    font-weight: bold;
}

.adminInputDisabled{
    background-color: #d7eaff;
}

.image{
    /* set radius */
    border-radius: 3%;
}

.review{
    /* sand color */
    background-color: #d7eaff;
    border-radius: 5%;
}

.adminInput{
    background-color: #d7eaff !important;
    /* border color */
    border-color: #d7eaff !important;
    /* font size */
    font-size: 1.3em;
    color:#1F4591
}

#title{
    background-color: #d7eaff;
    /* font */
    font-weight: bold;
    color:#1F4591;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

#reviewContainer{
    /* border*/
    border-color: hsl(210, 81%, 79%);
    border-style: solid;
    border-width: 2px;
    max-height:400px;

    color:#1F4591
}

.form-control{
    color:#1F4591;
}

form{
    /* border-color*/
    border-left: 3px solid hsl(210, 81%, 79%);
    border-right: 3px solid hsl(210, 81%, 79%);
    border-width: 2px;

}

h4{
    color:#1F4591;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 30px;
}

hr{
    border-style: hidden;
}

/* Reviews */
#addReview{
    background-color: #1F4591;
    color:#d7eaff;
    font-weight: bold;
}

#addReview:hover{
    background-color: #d7eaff;
    color:#1F4591;
    font-weight: bold;
}

.h-100{
    background-color: hsl(210, 81%, 79%);
}
